body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.topo
{
width: 100%;
height: 20vh;
background-color: darkblue;
font-size: 50px;
display: flex;
justify-content: left;
align-items: center;
color:white
}
.barras
{
    color: white;
}



/*.titulo
{
    font-size: 10px;
    background-color: cornflowerblue;
}*/